body {
    /* background-color:lightseagreen; */
    background-image: url(http://localhost:8080/imgs/Infinitylogo.jpg );
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: orangered;
}

.entryDiv {
    margin-top:5 px;
    border: 2 px solid;
    border-radius: 5px;
    border-color:black;
    background-color: lightgray;
    max-width: 40vw;
}

